page-contact {

}
table {
    width: 100%;
    margin-bottom: 10px;
  }
   

  ion-row > ion-col {
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
 ion-row:nth-of-type(odd) {
    background-color: #f9f9f9;
  }